<nav>
  <div class="box">
    <a href="https://www.sdh.fr/accueil" title="Accueil">
      <img src="/assets/sdh-logo.webp" class="logo" alt="Logo" height="80" />
    </a>
    <div>
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="link-button first-button"
      >
        Apropos
      </a>
      <a routerLinkActive="active" class="link-button second-button">
        <span class="pi pi-fw pi-refresh"></span>
      </a>
      <a
        routerLink="/canvas"
        routerLinkActive="active"
        class="link-button third-button"
      >
        <span class="pi pi-question-circle question-circle"></span>
      </a>
      <a
        routerLink="/faq"
        routerLinkActive="active"
        class="link-button fifth-button"
        title="FAQ"
      >
        <span class="pi pi-question-circle question-circle"></span>
      </a>
    </div>
    <div>
      <a
        href="/login"
        routerLinkActive="active"
        class="link-button first-button"
      >
        Connexion
      </a>
      <a routerLinkActive="active" class="link-button second-button">
        <span class="pi pi-fw pi-refresh"></span>
      </a>
      <a
        routerLink="/canvas"
        routerLinkActive="active"
        class="link-button third-button"
      >
        <span class="pi pi-question-circle question-circle"></span>
      </a>
      <a
        routerLink="/faq"
        routerLinkActive="active"
        class="link-button fifth-button"
        title="FAQ"
      >
        <span class="pi pi-question-circle question-circle"></span>
      </a>
    </div>
  </div>
  <div class="box"></div>
</nav>

<div class="container" style="text-align: center; margin-top: 100px">
  <h1>Bienvenue au centre de gestion de l'application mobile !</h1>
</div>

<section style="text-align: center">
  <img src="./assets/accueil.png" alt="" height="700" />
</section>
